body {
	text-align: center;
	font-family: Roboto, Sans-serif;
	width: 100%;
	color: #444;
	background-color: #fafafa;
}

h1 {
	font-weight: 100;
}

.slide {
	width: 320px; 
	height: 240px;
	display: inline-block;
	border: 1px solid #ddd;
	background-color: #ffffff;
}
