@font-face {
	font-family: xkcd-script;
	src: url('xkcd-script.woff') format('woff'),
		url('xkcd-script.ttf') format('truetype');
}

body {
	text-align: center;
	font-family: Roboto,sans-serif;
	font-size: 0.8em;
	width: 100%;
	color: #444;
	background-color: #fafafa;
}

h1 {
	color: #000;
	font-size: 30px;
	font-family: Roboto,sans-serif;
	font-weight: 100;
	padding: 1em;
}

p {
	padding: 0em;
}

#panels {
	padding-bottom: 2em;
	border: 0px;
	margin: auto;
}

.slide {
	width: 240px; 
	height: 180px;
	display: inline-block;
	margin: 0.3em;
	background-color: #ffffff;
}

#vizzu-logo {
	width:50px;
}